@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$primary-color: #c49991;
$secondary-color: #279af1;
$tertiary-color: #171717;

$font: 'Lato', sans-serif;

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline-color: $secondary-color;

	line-height: 1.5;
}

html,
body {
	height: 100%;
}

html {
	font-size: 20px;
}

body {
	display: grid;
	grid: 4fr 8fr / 12fr;

	font-family: $font;
	color: $tertiary-color;
}

header,
main {
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	font-size: 1.8rem;
}

main {
	font-size: 1.6rem;
}

.calculator-display,
.key {
	border-radius: 3px;
}

.calculator-display {
	height: 50px;
	background-color: $primary-color;
	margin-bottom: 30px;
	line-height: 50px;
}

.row {
	margin-bottom: 10px;
}

.key {
	height: 50px;
	width: 50px;
	background-color: $primary-color;

	font-family: $font;
	font-size: 1.2rem;

	cursor: pointer;

	&:nth-child(n + 2) {
		margin-left: 5px;
	}

	&:hover {
		box-shadow: 4px 4px 0px 0px $secondary-color;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;

	overflow: hidden;
}

@media (min-width: 768px) {
	html {
		font-size: 19px;
	}

	.calculator-display {
		height: 60px;
		line-height: 60px;
	}

	.key {
		height: 60px;
		width: 60px;
	}
}

@media (min-width: 1024px) {
	html {
		font-size: 18px;
	}

	.calculator-display {
		height: 60px;
		line-height: 60px;
	}

	.key {
		height: 70px;
		width: 70px;
	}
}
