@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$primary-color: #C49991;
$secondary-color: #279AF1;
$terciary-color: #171717;

$breakpoint-tablet: 700px;
$breakpoint-4k: 2000px;

$font-name:'Lato', sans-serif;

@mixin centralize{
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  line-height: 1.5;

  &:focus{
    outline-color: $secondary-color;
  }
}

html,
body{
  height: 100%;
}

body{
  display: grid;
  grid: 1fr 8fr / 1fr;
  font-size: 20px;
  font-family: $font-name;
}

header {
  @include centralize();
  padding: 50px;

  h1{
    color: $terciary-color;
    font-size: 3rem;
    font-family: $font-name;
  }
}

main {
  @include centralize();

  color: $terciary-color;
}

.calculator-display{
  @include centralize();
  height: 50px;
  margin-bottom: 40px;
  border-radius: 3px;

  background-color: $primary-color;
  font-size: 1.5rem;
}

.row{
  display: flex;
}

.key {
  @include centralize();
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 3px;
  background-color: $primary-color;
  
  cursor: pointer;

  &:hover{
    box-shadow: 2px 3px 1px 2px $secondary-color;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (min-width: $breakpoint-tablet){
  header{
    padding: 70px;

    h1{
      font-size: 5rem;
    }
  }

  .calculator-display{
    height: 70px;
  }

  .key{
    font-size: 2rem;
    width: 70px;
    height: 70px;
    margin: 6px;
  }
}

@media (min-width: $breakpoint-4k){
  header{
    padding: 90px;

    h1{
      font-size: 7rem;
    }
  }

  .calculator-display{
    height: 90px;
  }

  .key{
    font-size: 3rem;
    width: 90px;
    height: 90px;
    margin: 7px;
  }
}

